.post{
    margin-top: 3rem;
    font-family: 'Roboto Mono';
    color: #ffffff;
}

.postTitle{
    font-family: 'Roboto Mono';
    color: #Efc2e5;
    font-size: 3rem;
    margin-bottom: 0;
    text-decoration: underline;
}

.postDate{

    font-family: 'Roboto Mono';
    color: #Efc2e5;
    font-style: italic;
}

.innerText{
    margin-top: 3rem;
    font-family: 'Roboto Mono';
    color: #ffffff;
    h2{
        font-family: 'Roboto Mono';
    }
}