.container{

    h1{
        font-family: 'Roboto Mono';
        color: #Efc2e5;
        padding: 1rem;
        font-size: 3rem;
    }

}

.posts {
    list-style: none;
    margin:0;
}

.post {
    margin:1rem 0;
    font-family: 'Roboto Mono';


    a{
        color: white;
        display: block;
        padding: 1rem;
        text-decoration: none;
        font-family: 'Roboto Mono';

    }

    a:hover {
        color: #Efc2e5;
    }

    h2{
        margin-bottom: 0;
        font-family: 'Roboto Mono';

    }

    p{
        color: #777777;
        font-size: 0.8rem;

    }
}