.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Roboto Mono';

    p{
        color: #7ec2e5;
    }
}

.contactMain{
    margin-top: 7rem;
    h1 {
        font-size: 2rem;
        color: #ffffff;
        padding: 1rem;
        font-family: 'Roboto Mono';
        text-align: center;
    }

  
}

.contactSub{
    p {
        margin-top: 1rem;
        color: #7ec2e5;
        font-size: 1rem;
        text-align: justify;
        align-items: center;
    }
}

.boxes{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.box{
    padding: .5rem;

    img{
        width: 50px;
    }
}