.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Roboto Mono';
}

.title {
    h1 {
        font-size: 3em;
        color: #ffffff;
        padding-top: 5rem;
        font-family: 'Roboto Mono';
        text-align: center;
    }

    p {
        margin-top: 0.8rem;
        color: #7ec2e5;
        font-size: 1.5rem;
        text-align: justify;
        align-items: center;
    }

}

a:link {
    text-decoration: none;
}


.boxes{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    display:flex;
    flex-direction: column;
    h3 {
        font-family: 'Roboto Mono';
        font-size: 0.8rem;
        color: #ffffff;
        margin-bottom: 0;
    }
    p{
        margin-top: 0;
        color: #7ec2e5;
        text-align: left;
        font-size: 1rem;
    }
}