.title{
    font-family: 'Roboto Mono';
    font-size: 3rem;
    color: #92F2C2;
    margin-bottom: 2rem;
    padding: 1rem;
}


.list{
    margin:0;
    list-style: none;
}

.projectList{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.projectLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-right: 2rem;
    margin-left: 0rem;
    padding-left: 0;

    img{
        min-width: 40px;
        max-height: 40px;
    }

}

.projectContent{

    h3{
        font-family: 'Roboto Mono';
        color: #92F2C2;
    }
    p{  margin-top: 0;
        margin-bottom: 0;
        font-family: 'Roboto Mono';
        color:#ffffff;
    }
}