
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Roboto Mono';

    h3 {
        color: #7ec2e5;
        margin: 0.5rem;
        font-size: 2em;
        font-family: 'Roboto Mono';

    }
}

.education{
    font-family: 'Roboto Mono';
    color: #ffffff;
    margin-bottom: 3rem;
}

.school{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    line-height: 1.0;

    p{
        margin:0.5rem;
        padding: 0;
    }
}

.workExperince {
    margin-bottom: 3rem;
}

.company {
    margin-bottom: 3rem;
    p {
        color: #ffffff;
        margin: 0.5rem;
    }
}

.programming {
    margin-bottom: 3rem;

    p{
        color: #ffffff;
        margin: 0.5rem;
    }
}

.volunteer{
    margin-bottom: 3rem;
}

.event {
    margin-bottom: 3rem;
    p{
        color: #ffffff;
        margin: 0.5rem;
    }
}

.publications{
    margin-bottom: 3rem;
    p{
        color: #ffffff;
        margin: 0.5rem;
    }
}

.awards{
    margin-bottom: 3rem;
}

.award{
    margin-bottom: 3rem;
    p{
        color: #ffffff;
        margin: 0.5rem;
    }
}


.underline{
    text-decoration: underline;
}