.header {
    display: flex;
    padding: 1rem 0 3rem;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: 'Roboto Mono';
}

.navlist{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    align-items: center;
    text-align: center;
    align-content: center;
}

.navItem{
    color: #ffffff;
    font-size: 0.8rem;
    margin-right: 1.3rem;
    text-decoration: none;
}


.navItem:hover {
    color: rgb(149, 201, 228);
}

.activeNavItem {
    color: #7EC2E5;
}

