
.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.background {
    background-image: url('../images/memphis-mini-dark.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

* {
    margin: 0;
}
